<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="NCTU 網路新生包">
        <meta name="keywords" content="NCTU網路新生包,交大網路新生包,網路新生包,交大新生包,NCTU新生包,新生包,交大新生,NCTU新生,交大學聯會,NCTU,交大">
        <meta name="author" content="交通大學學聯會資訊部">
        <meta name="robots" content="index,follow">
        <link rel="shortcut icon" href="assets/img/logo.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <title><%= render_title %></title>
        <link rel="stylesheet" href="assets/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/newcomer.scss" />
        <link rel="stylesheet" href="assets/newcomer-2.scss" />
    </head>
    <body>
       <nav class="navbar navbar-custom2 navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <span class="navbar-brand"><%= link_to "NCTU", main_path %></span>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                         <li> 
                             <%= link_to "初入交大", procedure_path %>
                         </li> 
                         <li> 
                             <%= link_to "精選問答", qna_path %>
                         </li> 
                         <li> 
                             <%= link_to "團購", shopping_path %>
                         </li> 
                         <li> 
                             <%= link_to "生活資訊", qna_path %>
                         </li> 
                         <li> 
                            <%= link_to "社團資訊", curricular_path %>
                         </li> 
                         <li> 
                             <%= link_to "交大地圖", map_path %>
                         </li> 
                         <li class="dropdown"> 
                           <a href="#" class="dropdown-toggle page-scroll" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">教學 <span class="caret"></span></a> 
                                <ul class="dropdown-menu"> 
                                    <li><%= link_to "D2帳號申請", d2setup_path %></li> 
                                    <li><%= link_to "選課教學", chooseClass_path %></li> 
                                </ul> 
                         </li> 
                    <li>
                        <a class="page-scroll" href="https://stunion.nctu.edu.tw/blog" target="_blank">學聯會網站</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>