<%= stylesheet_link_tag 'curricular' %>
<div class="spacing"></div>
<section class="curricular">
	<span><h3>系學會列表</h3></span>
	<div class="row">
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/國標.jpg" >
		</div>
		<div class="col-sm-6 text-col">
			<h3>交通大學國際標準舞社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/groups/1793049137607116/", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/國標.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>網絡安全進策會</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/NCTUCSC", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "https://bamboofox.torchpad.com/", :target => '_blank' do %>
			<p><i class="fa fa-chrome fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/網安.jpg" >
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/魔術.jpg" >
		</div>
		<div class="col-sm-6 text-col">
			<h3>交大魔術社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>交大管弦樂團</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/管樂.jpg" >
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 pic-col minor-1"> 
			<img src="/assets/curricular/汪汪.jpg" >
		</div>
		<div class="col-sm-6 text-col">
			<h3>汪汪社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>劍道社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "http://www.nctumun.org/", :target => '_blank' do %>
			<p><i class="fa fa-chrome fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/劍道.jpg" >
		</div>
	</div>
		<div class="row">
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/星聲社.jpg" >
		</div>
		<div class="col-sm-6 text-col">
			<h3>星聲社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
				<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "http://www.nctumun.org/", :target => '_blank' do %>
				<p><i class="fa fa-chrome fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>散打搏擊社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/散打搏擊社.jpg" >
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/戲劇社.jpg" >
		</div>
		<div class="col-sm-6 text-col">
			<h3>戲劇社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>崇德青年志工社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
				<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "http://www.nctumun.org/", :target => '_blank' do %>
				<p><i class="fa fa-chrome fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/崇德青年志工社.jpg" >
		</div>
	</div>
		<div class="row">
		<div class="col-sm-6 pic-col minor-1"> 
			<img src="/assets/curricular/諮商中心.jpg" >
		</div>
		<div class="col-sm-6 text-col">
			<h3>諮商中心</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>鐵道會</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/鐵道會.jpg" >
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 pic-col minor-2"> 
			<img src="/assets/curricular/證研社.jpg" >
		</div>
		<div class="col-sm-6 text-col">
			<h3>證研社</h3>
			<hr>
			<section class="icons">
			<%= link_to "http://www.nctumun.org/", :target => '_blank' do %>
				<p><i class="fa fa-chrome fa-lg"></i></p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>模擬聯合國社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/nctumun", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "http://www.nctumun.org/", :target => '_blank' do %>
			<p><i class="fa fa-chrome fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>柔道社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>烏克麗麗社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "http://www.nctumun.org/", :target => '_blank' do %>
			<p><i class="fa fa-chrome fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>AIESEC</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>吉他社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>音樂遊戲社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "http://www.nctumun.org/", :target => '_blank' do %>
			<p><i class="fa fa-chrome fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>花輪社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>及人服務團</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>元氣醫護志工團</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>馬術社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
				<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "http://www.nctumun.org/", :target => '_blank' do %>
				<p><i class="fa fa-chrome fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>信望愛社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/groups/265268466818755/", :target => '_blank' do %>
				<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "http://www.nctumun.org/", :target => '_blank' do %>
				<p><i class="fa fa-chrome fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>登山社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/groups/NCTUmountain/", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>彩妝保養社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/pages/%E4%BA%A4%E9%80%9A%E5%A4%A7%E5%AD%B8%E5%BD%A9%E5%A6%9D%E4%BF%9D%E9%A4%8A%E7%A4%BE/120834974684983", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>漫畫社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/NCTUComicClub", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>數位音樂創作社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/NCTUDMCC", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>柏克萊學生團契</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/koinoniahsinchu", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>管樂團</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/pages/%E4%BA%A4%E9%80%9A%E5%A4%A7%E5%AD%B8%E7%AE%A1%E6%A8%82%E5%9C%98/205591206145512", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>鋼琴社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/nctuPIANO", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>國樂團</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/ilovenctucmc", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>高爾夫球社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/NCTUgolf", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>布袋戲社</h3>
			<hr>
			<section class="icons">
			<%= link_to "#", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>咖啡社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/NCTUcoffee", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>慈青社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/nctuclubtzuchi", :target => '_blank' do %>
				<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "http://www.nctumun.org/", :target => '_blank' do %>
				<p><i class="fa fa-chrome fa-lg"></i></p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>文化服務團</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/JiaoDaWenFuGeiNiSuoYou", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>焦點POP社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/focuspopclub", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>竹韻口琴社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/nctubmhc", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>動畫社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/nctuanime", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>桌上遊戲社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/NCTUBG", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>熱舞社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/pages/NCTU-Popdance/236512046946", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>橋藝社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/groups/178089168941413", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>攝影社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/pages/%E4%BA%A4%E5%A4%A7%E6%94%9D%E5%BD%B1%E7%A4%BE/163474003683212", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>山服社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/nctusanfupower", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>單車社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/werideourlife2015", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 text-col">
			<h3>社會企業創思社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/nctu.strong.2013", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>虹韻世界民族舞蹈社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/pages/%E4%BA%A4%E5%A4%A7%E8%99%B9%E9%9F%BB%E4%B8%96%E7%95%8C%E6%B0%91%E6%97%8F%E8%88%9E%E8%B9%88%E7%A4%BE/841344012609062", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			</section>
		</div>
	</div>
</section>
