<%= stylesheet_link_tag 'curricular' %>
<div class="spacing"></div>
<section class="curricular">
	<span><h3>系學會列表</h3></span>
	<div class="row">
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/國標.jpg" >
		</div>
		<div class="col-sm-6 text-col">
			<h3>交通大學國際標準舞社</h3>
			<hr>
			<section class="icons">
			<%= link_to "https://www.facebook.com/groups/1793049137607116/", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/國標.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>網絡安全進策會</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/網安.jpg" >
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/魔術.jpg" >
		</div>
		<div class="col-sm-6 text-col">
			<h3>交大魔術社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>交大管弦樂團</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/管樂.jpg" >
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 pic-col minor-1"> 
			<img src="/assets/curricular/汪汪.jpg" >
		</div>
		<div class="col-sm-6 text-col">
			<h3>汪汪社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 text-col">
			<h3>劍道社</h3>
			<hr>
			<section class="icons">
			<%= link_to "＃", :target => '_blank' do %>
			<p><i class="fa fa-facebook-official fa-lg"></i></p>
			<% end %>
			<%= link_to "pdf/#.pdf", :target => '_blank' do %>
				<p>PDF</p>
			<% end %>
			</section>
		</div>
		<div class="col-sm-6 pic-col"> 
			<img src="/assets/curricular/劍道.jpg" >
		</div>
	</div>
</section>
