<%= stylesheet_link_tag 'curricular' %>
<div class="spacing"></div>
<section class="curricular">
    <span><h3>系學會列表</h3></span>
    <% i = 0 %>
    <% while i <= 19  do %>
        <% if @data[i]["img"] != "none" %>
            <% if i%2 == 0 %>
            <div class="row">
                <div class="col-sm-6 pic-col"> 
                    <%=raw " <img src=\"/assets/studentAssociation/#{@data[i]["img"]}\" > " %>
                </div>
                <div class="col-sm-6 text-col">
                    <h3><%=raw @data[i]["name"] %></h3>
                    <hr>
                    <section class="icons">
                    <% if @data[i]["fb"] != "none" %>
                        <%= link_to @data[i]["fb"], :target => '_blank' do %>
                        <p><i class="fa fa-facebook-official fa-lg"></i></p>
                        <% end %>
                    <% end %>
                    <% if @data[i]["web"] != "none" %>
                        <%= link_to @data[i]["web"], :target => '_blank' do %>
                            <p><i class="fa fa-chrome fa-lg"></i></p>
                        <% end %>
                    <% end %>
                    <% if @data[i]["pdf"] != "none" %>
                        <%= link_to "pdf/studentAssociation/#{@data[i]["pdf"]}", :target => '_blank' do %>
                            <p>PDF</p>
                        <% end %>
                    <% end %>
                    </section>
                </div>
            </div>
            <% else %>
            <div class="row">
                <div class="col-sm-6 text-col">
                    <h3><%=raw @data[i]["name"] %></h3>
                    <hr>
                    <section class="icons">
                    <% if @data[i]["fb"] != "none" %>
                        <%= link_to @data[i]["fb"], :target => '_blank' do %>
                        <p><i class="fa fa-facebook-official fa-lg"></i></p>
                        <% end %>
                    <% end %>
                    <% if @data[i]["web"] != "none" %>
                        <%= link_to @data[i]["web"], :target => '_blank' do %>
                            <p><i class="fa fa-chrome fa-lg"></i></p>
                        <% end %>
                    <% end %>
                    <% if @data[i]["pdf"] != "none" %>
                        <%= link_to "pdf/studentAssociation/#{@data[i]["pdf"]}", :target => '_blank' do %>
                            <p>PDF</p>
                        <% end %>
                    <% end %>
                    </section>
                </div>
                <div class="col-sm-6 pic-col"> 
                    <%=raw " <img src=\"/assets/studentAssociation/#{@data[i]["img"]}\" > " %>
                </div>
                
            </div>
            <% end %>
        <% else %>
            <div class="row">
                <div class="col-sm-6 text-col">
                    <h3><%=raw @data[i]["name"] %></h3>
                    <hr>
                    <section class="icons">
                    <% if @data[i]["fb"] != "none" %>
                        <%= link_to @data[i]["fb"], :target => '_blank' do %>
                        <p><i class="fa fa-facebook-official fa-lg"></i></p>
                        <% end %>
                    <% end %>
                    <% if @data[i]["web"] != "none" %>
                        <%= link_to @data[i]["web"], :target => '_blank' do %>
                            <p><i class="fa fa-chrome fa-lg"></i></p>
                        <% end %>
                    <% end %>
                    <% if @data[i]["pdf"] != "none" %>
                        <%= link_to "pdf/studentAssociation/#{@data[i]["pdf"]}", :target => '_blank' do %>
                            <p>PDF</p>
                        <% end %>
                    <% end %>
                    </section>
                </div>
                <% if i < 19 %>
                <% i += 1 %>
                <div class="col-sm-6 text-col">
                    <h3><%=raw @data[i]["name"] %></h3>
                    <hr>
                    <section class="icons">
                    <% if @data[i]["fb"] != "none" %>
                        <%= link_to @data[i]["fb"], :target => '_blank' do %>
                        <p><i class="fa fa-facebook-official fa-lg"></i></p>
                        <% end %>
                    <% end %>
                    <% if @data[i]["web"] != "none" %>
                        <%= link_to @data[i]["web"], :target => '_blank' do %>
                            <p><i class="fa fa-chrome fa-lg"></i></p>
                        <% end %>
                    <% end %>
                    <% if @data[i]["pdf"] != "none" %>
                        <%= link_to "pdf/studentAssociation/#{@data[i]["pdf"]}", :target => '_blank' do %>
                            <p>PDF</p>
                        <% end %>
                    <% end %>
                    </section>
                </div>
                <% end %>
            </div>
        <% end %>
        <% i += 1 %>
    <% end %>
    <div class="row important">
        <h4>(註：系學會資料陸續增加中！該欄空白代表該系學會並未提供該項資料。此表並非所有系學會，僅為有提供資料之系學會)
            <p>以上資料由各系學會提供，並不代表學聯會立場</p>
        </h4>
    </div>
</section>
